body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(42, 147, 185);
  background-image: url('https://cdn.dribbble.com/users/766345/screenshots/2380195/accountant-pattern.gif');
}
h1{
  color: rgb(227, 107, 9);
}