body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
  background-size: cover;
  background-image: url('https://webappstatic.buzzfeed.com/static/enhanced/terminal05/2012/10/25/16/anigif_enhanced-buzz-3211-1351196485-0.gif');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
}

.search-bar:focus {
  outline: none;
  border-bottom-color: #4CAF50;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3e8e41;
}

.recipe {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #333;
}

.recipe img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe ul li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.recipe p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

